flask==3.1.2
gunicorn==25.0.3
pydub==0.25.1
librosa==0.11.0
numpy==2.4.2
pandas==3.0.0
ffmpeg-python==0.2.0
torch==2.10.0+cpu
torchaudio==2.10.0+cpu
transformers==4.55.3
speechbrain==1.0.3
plotly==6.5.2
